@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400&display=swap');
/* font-family: 'Oleo Script', cursive; */

@font-face {
    src: url('../fonts/Raleway-Medium.ttf');
    font-family: 'Raleway';
}

@font-face {
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: 'Open Sans';
}
*:focus {
    outline: none;
}
:root {
    --color-primary: rgb(14, 251, 192);
    --color-darker: rgb(29, 29, 29);
    --color-dark: rgb(41, 41, 41);
}

body {
    font-family: 'Open Sans' !important;
    background: rgb(41, 41, 41);
    color: rgba(255, 255, 255, 0.87);
    /* color: rgba(255, 255, 255, 0.87); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}

.color-primary {
    color: var(--color-primary) !important;
}

.back-primary {
    background: var(--color-primary) !important;
}
.back-darker {
    background: var(--color-darker) !important;
}
.back-dark {
    background: var(--color-dark) !important;
}

.outline-primary {
    border: 1px solid var(--color-primary) !important;
}
.dark-tr{
    background-color: rgba(41, 41, 41, 0.493);;
}
.min-vh-90 {
    min-height: 90vh;
}
.navbar {
    background: rgb(29, 29, 29);
    font-family: 'Raleway' !important;
}

.navbar, .navbar .btn {
    margin: auto 2px;
}

.navbar-right .btn {
    font-size: small !important;
}

.view-card {
    height: 200px !important;
    overflow: hidden;
}

.transparent {
    background: transparent !important;
}

.view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-0 {
    top: 0;
}
.bg-image {
    filter: blur(3px) grayscale(8);
    -webkit-filter: blur(3px) grayscale(.5) brightness();
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.z-1{
    z-index: 0;
}
.rounded-40 {
    border-radius: 40px !important;
}

/* TO BE REMOVED */
.view .card {
    border-color: var(--color-dark);
}
.view .card .card-img-top {
    transition: ease-in-out .2s;

}
.view .card .card-img-top:hover {
    transform:scale(1.1) rotate(-3deg);
    transition: ease-in-out .2s;
}
.center, .bottom, .top {
    border:2px solid rgb(14, 251, 192);
    display: flex;
    justify-content: center;
    align-items: center;
}






/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 3s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }