{% extends 'accounts/accounts_base.html' %}

{% block welcome_message %}
    Sign In to continue
{% endblock %}
{% block other_message %}
    Need an account? <a href="{% url 'register' %}" class="card-link color-primary">Sign Up</a>
{% endblock %}

{% block form_items %}
<div class="form-group">
    <input value="{{request.POST.username}}" type="text" name="{{form.username.name}}" id="id_{{form.username.name}}" class="text-input" placeholder="Username" required>
    {{ form.username.errors }}
</div>
<div class="form-group">
    <input type="password" name="{{form.password.name}}" id="id_{{form.password.name}}" class="text-input" placeholder="Password" required>
    {{ form.password1.errors }}
</div>
<input type="hidden" name="next" value="{{next}}">
<div class="form-group">
    <button type="submit" class="text-input back-primary font-weight-bold">SIGNIN NOW</button>
</div>
{% endblock %}